rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Safety net allowing client operations in sandbox environment
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
